<style>
        header {
  background-color: #1da1f2;
  color: white;
  padding: 20px;
  border-radius: 20px;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  
}

nav li {
  flex: 1;
  margin-right: 20px;
  text-align: center;
  
  
}



nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
 
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: white;
  color: #333;
}

nav a:active {
  background-color: #555;
}
</style>
<nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="#">About me</a></li>
      <li><a href="/forum">Forum</a></li>
    </ul>
  </nav>